<footer class="container-fluid bh-absolute-bottom footercontainer">
    <div class="row footer">
      <div class="col-10 offset-1">
        <div class="row rijfooter">


              <div class="col-4 colfooter footerbert">
                <img src="{{ '/images/logowitgeel.png' | relative_url }}" alt="" class="logofooter img-responsive">
              </div>
              <div class="col-4 colfooter">
                <p class="tekstfooter">
                  Ontwerp: Bert Lecomte <br>
                  Grafische en Digitale Media (Crossmedia-ontwerp) <br>
                  2017 - 2018</p>
              </div>
    
              <div class="col-4 colfooter text-right">
                  <img src="{{ '/images/logoartevelde.png' | relative_url }}" alt="" class="logofooter img-responsive">

    
              </div>
    
          <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    </div>
    </div>
   
    
    <!--/.footer-bottom-->
    </footer>
    



    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>